@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --primary: #040efe;
  --secondary: #5567ff;
  --white: #ffffff;
  --black: #000000;
  --heading: #0f2137;
  --textColor: #02073e;
  --bg: #f2f2ff;
  --grey: #343d48;
  --icon-bg: #eef0ff;
}

html {
  font-size: 10px;
}
body {
  font-family: "Poppins", sans-serif;
}
a {
  text-decoration: none;
}

ul li {
  list-style: none;
  font-size: 1.6rem;
}
h1 {
  font-size: 3.2rem;
}
h2 {
  font-size: 2.4rem;
}
a {
  font-size: 1.6rem;
}
p {
  font-size: 1.6rem;
}
/* ########### utility classes ########## */
.primary-btn {
  border: 2px solid var(--primary);
  background-color: var(--primary);
  padding: 0.8rem 2rem;
  color: var(--white);
  border-radius: 5px;
  font-size: 1.4rem;
  font-weight: 500;
}
.secondary-btn {
  border: 2px solid var(--grey);
  color: var(--white);
  padding: 0.8rem 2rem;
  border-radius: 5px;
  font-size: 1.4rem;
  font-weight: 500;
}
/* ########## HEADER ############  */
header {
  width: 100%;
  height: auto;
  padding: 2rem 3rem;
  background-color: var(--black);
  position: relative;
}
header .logo h1 {
  font-size: 2rem;
  font-weight: 600;
  color: var(--bg);
}
header .menu ul li a {
  color: var(--white);
  font-weight: 300;
  font-size: 1.5rem;
}

header .header-content h2 {
  font-size: 4rem;
  font-weight: 700;
  color: var(--white);
  margin-top: 10rem;
}
header .header-content p {
  font-size: 1.5rem;
  color: var(--grey);
  margin-bottom: 3rem;
  margin-top: 1rem;
}

header .header-content .ud-buttons a {
  margin-right: 1.2rem;
}
header .header-content .title {
  font-weight: 600;
}
header .header-content .icon {
  position: relative;
  top: 3px;
}

header .dashboard {
  width: 1000px;
  margin: 0 auto;
  margin-top: 7rem;
  z-index: 1;
  position: relative;
}
header::after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  height: 20%;
  background-color: var(--white);
}

header .dashboard img {
  width: 100%;
}

header .ptn {
  position: absolute;
}
header .ptn img {
  width: 100%;
}

header .pattern1 {
  width: 249px;
  top: 277px;
  right: 192px;
}

header .pattern2 {
  width: 200px;
  top: 342px;
  left: 373px;
}
header .pattern3 {
  width: 224px;
  top: 533px;
  left: 149px;
}
/* ########### PRIVACY ############3  */
.privacy {
  width: 100%;
  height: auto;
  padding: 8rem 0;
}
.privacy .privacy-img {
  width: 590px;
}
.privacy .privacy-img img {
  width: 100%;
}

.privacy h2 {
  font-size: 2.8rem;
  font-weight: 500;
  margin-bottom: 2rem;
}
.privacy p {
  font-size: 1.4rem;
  line-height: 3rem;
  margin-bottom: 2rem;
}
.privacy a .title {
  font-size: 1.4rem;
  font-weight: 500;
}
.privacy a .icon {
  position: relative;
  top: 3px;
}
/* ################### FEATURES ###############  */

.features {
  width: 100%;
  height: auto;
  background-color: var(--bg);
  padding: 10rem 0;
}

.main-heading h2 {
  font-size: 2.4rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
}
.main-heading p {
  font-size: 1.4rem;
  margin-bottom: 7rem;
}

.features .icon {
  position: relative;
  font-size: 2.6rem;
  color: var(--white);
  width: 50px;
  height: 50px;
  border-radius: 10px;
}
.features .md {
  position: absolute;
  top: 11px;
  left: 11px;
}
.features .title {
  margin-left: 0.8rem;
}
.features .title h3 {
  font-size: 1.5rem;
  font-weight: 600;
}

.color1 {
  background-color: #7a41f8;
}
.color2 {
  background-color: #ff8083;
}
.color3 {
  background-color: #fbce82;
}
.color4 {
  background-color: #bfa1f9;
}

.features .features-img {
  width: 1000px;
  margin: 0 auto;
}
.features .features-img img {
  width: 100%;
}

/* ################ FEATURES2  ###############  */

.features2 {
  width: 100%;
  height: auto;
  padding: 10rem 0;
}
.features2 .main-icon {
  background-color: var(--icon-bg);
  padding: 2rem;
  width: 80px;
  height: 80px;
  font-size: 3.5rem;
  border-radius: 50px;
  line-height: 1rem;
  margin-right: 2rem;
  text-align: center;
}
.features2 .main-icon .md {
  color: var(--secondary);
}
.features2 .content h2 {
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 1.4rem;
}
.features2 .content p {
  font-size: 1.4rem;
  line-height: 3rem;
  color: var(--grey);
}
.features2 .content .title {
  font-size: 1.4rem;
  font-weight: 600;
  margin-right: 8px;
}
.features2 .content .icon {
  background-color: var(--icon-bg);
  font-size: 1rem;

  width: 15px;
  height: 15px;
  border-radius: 30px;
}
.features2 .content .md {
  position: relative;
  top: 1.4px;
  left: 3px;
  color: var(--secondary);
}

/* ############## DOWNLOADS ##############  */
.downloads {
  width: 100%;
  height: auto;
  padding: 10rem 0rem;
}
.downloads .download-img {
  width: 500px;
}
.downloads .download-img img {
  width: 100%;
}

.downloads .content h2 {
  font-size: 3rem;
  margin-bottom: 2rem;
  line-height: 4rem;
}
.downloads .content p {
  font-size: 1.4rem;
  line-height: 3rem;
  margin-bottom: 2rem;
}
.downloads .content .download-buttons a {
  margin-right: 2rem;
}
/* ################# FOOTER ###############  */
footer {
  width: 100%;
  height: auto;
  background-color: var(--black);
  padding-top: 7rem;
  padding-bottom: 1rem;
}
footer h3 {
  color: var(--white);
  font-size: 1.5rem;
  margin-bottom: 2rem;
}
footer ul {
  padding-left: 0;
}
footer a {
  display: inline-block;
  color: var(--grey);
  font-size: 1.3rem;
  margin-bottom: 0.5rem;
}

footer .copyright {
  padding: 1rem 0;
}
hr {
  border: 2px solid var(--grey);
  background-color: var(--grey);
}
footer .copyright .logo h1 {
  font-size: 2rem;
  font-weight: 600;
  color: var(--bg);
}
footer .copyright p {
  font-size: 1.2rem;
  color: var(--white);
}
